$standard-padding: 15px;

.master-container {
    height: 100%;
    display: grid;

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        height: 60px;
        padding: $standard-padding;
        z-index: 100;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;

        a {
            margin: 0 15px;
            color: #000000;
            text-decoration: none;

            &:hover {
                color: gray;
            }
        }
    }

    .container {
        padding: $standard-padding;

        &-name {
            height: 100vh;
            max-height: 100vh;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -o-box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                margin-left: 10%;
                font-size: 7.5vw;
            }
        }

        .sub-container {
            padding: $standard-padding;
        }
    }

    #screen {
        width: 300px;
        height: 200px;
        background: #5337a5 linear-gradient(-75deg, #5337a5 72.2%, rgba(white, 0.25) 72.2%);
        margin: 50px auto 0 auto;
        position: relative;
        transition: all 0.5s;

        &::after {
            content: "";
            position: absolute;
            top: -15px;
            left: -15px;
            right: -15px;
            bottom: -15px;
            background: #1d1d1d linear-gradient(-75deg, #1d1d1d 70%, rgba(white, 0.25) 70%);
            border-top-left-radius: 0.7em;
            border-top-right-radius: 0.7em;
            z-index: -2;
            transition: all 0.5s;
        }

        &::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            top: -10px;
            left: calc(50% - 5px);
            background: rgba(white, 0.2);
            border-radius: 50%;
            transition: all 0.5s;
        }
    }

    .card {
        .card-inner {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .card-info {
                flex-basis: 50%;
                display: flex;

                .card-info-inner {
                    flex-basis: 75%;
                }

                .card-info-links {
                    flex-basis: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 3em;
                        margin: 5px 20px;
                        cursor: pointer;
                    }

                    .tooltip {
                        box-shadow: 0px 5px 10px 0 rgba(16, 36, 94, 0.2);
                    }
                }
            }

            .card-screen {
                flex-basis: 50%;

                #keyboard {
                    width: 440px;
                    height: 15px;
                    background: #d8d8d8;
                    margin: 10px auto;
                    border-bottom: 5px solid rgba(black, 0.45);
                    border-bottom-left-radius: 0.4em;
                    border-bottom-right-radius: 0.4em;
                    position: relative;
                    transition: all 0.5s;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 43%;
                        right: 43%;
                        bottom: 50%;
                        background: rgba(black, 0.3);
                        border-bottom-left-radius: 0.3em;
                        border-bottom-right-radius: 0.3em;
                        box-shadow: inset 5px 0 5px -5px rgba(black, 0.5), inset -5px 0 5px -5px rgba(black, 0.5);
                        transition: all 0.5s;
                    }
                }

                @media screen and (max-width: 900px) {
                    #screen {
                        width: 240px;
                        height: 155px;
                        background: #5337a5 linear-gradient(-75deg, #5337a5 72.9%, rgba(white, 0.25) 72.9%);

                        &::after {
                            border-radius: 0.7em;
                        }

                        &::before {
                            background: transparent;
                        }
                    }

                    #keyboard {
                        width: 0;
                        height: 0;
                    }
                }

                @media screen and (max-width: 650px) {
                    #screen {
                        width: 90px;
                        height: 155px;

                        &::after {
                            left: -5px;
                            right: -5px;
                        }

                        &::before {
                            background: rgba(white, 0.2);
                        }
                    }
                }
            }
        }

        .icons {
            display: flex;
            justify-content: center;

            img {
                width: 3em;
                margin: 5px 20px;
            }

            .tooltip {
                box-shadow: 0px 5px 10px 0 rgba(16, 36, 94, 0.2);
            }
        }
    }

    .container-file-window {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // &__document {
        //     margin: 1em 0;

        .react-pdf {
            &__Document {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 8px;
                box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
            }

            &__Page {
                max-width: calc(100% - 2em);
                // box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
                margin: 1em;

                svg {
                    max-width: 100%;
                    height: auto !important;
                }
            }

            // &__message {
            //     padding: 20px;
            //     color: white;
            // }
        }
        // }
    }
}
